/* general styles */

html {
    background: #e7e7e7;
}
h4 {
    padding-top: 10px;
}
.overflow-auto {
    overflow: auto;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-visible {
    overflow: visible !important;
}
table {
    white-space: nowrap !important;
}
table tbody tr th {
    text-align: center;
}
table.table-align-middle tbody tr th,
table.table-align-middle tbody tr td {
    vertical-align: middle !important;
}
.max-360 {
    max-width: 360px !important;
}
.max-600 {
    max-width: 600px !important;
}
.min-160 {
    min-width: 160px !important;
}
.min-180 {
    min-width: 180px !important;
}
.min-215 {
    min-width: 215px !important;
}
.min-table-cell {
    width: 1%;
    white-space: nowrap;
}
.form-control-hidden {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.table-cell-regular {
    padding: 8px 15px !important;
}

/* ui styles */

#wrapper {
    width: 100%;
    background: #424858;
}
#page-wrapper {
    padding: 15px;
    min-height: 620px;
    background: #e7e7e7;
}
#page-inner {
    background: #fff !important;
}
.tab-content > .tab-pane {
    padding-top: 20px;
    padding-bottom: 20px;
}
.list-group-item.selected,
.list-group-item.selected:hover,
.list-group-item.selected:focus {
    background: #eee;
}
.navbar-menu {
    border: none;
}
.navbar-menu > ul > li > a {
    color: #fff !important;
}
.nav.nav-tabs > li.disabled > a {
    pointer-events: none;
    color: #555;
    cursor: default;
}

/* dashboard styles */

.panel-back {
    background: #e7e7e7;
}
.noti-box {
    min-height: 100px;
    padding: 20px;
}
.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
}
.text-box p {
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight: 600;
}
.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.bg-color-green {
    background: #00ce6f;
    color: #fff;
}
.bg-color-blue {
    background: #a95df0;
    color: #fff;
}
.bg-color-red {
    background: #db0630;
    color: #fff;
}
.bg-color-brown {
    background: #b94a00;
    color: #fff;
}
.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
}
.main-temp-back {
    background: #8702a8;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.main-temp-back .text-temp {
    font-size: 40px;
}
.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #2ea7eb;
    color: #fff;
}
.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}
.back-footer-green {
    background: #009b50;
    border-top: 0 solid #fff;
}
.back-footer-red {
    background: #af0000;
    border-top: 0 solid #fff;
}
.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}

/* chat panel */

.scroll-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}
.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}
.chat-box li .chat-body p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.chat-popover-right {
    position: relative;
    display: block;
    float: left;
}
.chat-popover-left {
    position: relative;
    display: block;
    float: right;
}
.write-message {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    resize: none;
}

/* menu styles */

.primary-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}
.nav > li > a > i {
    margin-right: 10px;
}
.navbar-cls-top {
    background: #4d5467;
    border: none;
}
.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #555b69;
    width: 230px;
    text-align: center;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-cls-top .navbar-brand:hover {
    color: #fff;
    background: #555b69;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #0097a7;
}
.navbar-side {
    border: none;
    background: #424858;
}
.sidebar-collapse,
.sidebar-collapse .nav {
    background: none;
}
.sidebar-collapse .nav {
    padding: 0;
}
.sidebar-collapse .nav > li > a {
    color: #fff;
    text-shadow: none;
}
.sidebar-collapse > .nav > li > a {
    padding: 20px;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background: #555b69;
    outline: 0;
}
.active-menu {
    color: #fff !important;
    background: #0097a7 !important;
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}
.nav-second-level li a {
    padding-left: 37px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-third-level li a {
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*
.arrow {
    float: right;
}
.fa.arrow:before {
    content: "\f104";
}
.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level > li > a:before,
.nav-third-level > li > a:before {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 15px;
    height: 1px;
    background: #fff;
    top: 30px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    width: 1px;
    height: 100%;
    background: #fff;
    top: 0;
    z-index: 10;
}
.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}
*/

/* ui elements styles */

.square-btn-adjust {
    border: 0 solid transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

/* media queries (min-width) */

@media(min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 230px;
        min-height: 940px;
    }
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 230px;
    }
    .navbar {
        border-radius: 0;
    }
    .sidebar-collapse {
        display: block !important;
        visibility: visible !important;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}

/* media queries (max-width) */

@media (max-width: 767.98px) {
    .table-responsive {
        border: none !important;
    }
    .navbar-menu > ul > li > a {
        padding: 20px;
    }
    .navbar-nav {
        margin: 0 -15px;
        background: #424858;
    }
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: right !important;
    }
}
@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {
    
}