/* test */
#side-section {
    position: absolute;
    z-index: -1;
    width: 230px;
    height: 100%;
    background-color: #424858;
}
table .pretty {
    margin: 0 10px;
}
.table-heading {
    float: left;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
}
.datepicker-days > tbody > tr > td {
    text-align: center;
}
.datepicker-days > tbody > tr > td:hover {
    background-color: #e8e8e8;
}
.data-binding {
    display: none;
}
#content-section {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.dropdown .btn-block i {
    float: right !important;
    line-height: 1.42857143;
    vertical-align: middle;
    margin-right: 1px;
}
/* general styles */
html {
    background-color: #e7e7e7;
}
label,
.pagination {
    vertical-align: middle;
}
.pagination {
    margin-top: 0;
}
.min {
    width: 1%;
    white-space: nowrap;
}
.col-btn {
    padding: 8px 15px !important;
}
table thead tr th {
    text-align: center;
    white-space: nowrap !important;
}
table tbody tr th {
    text-align: center;
    vertical-align: middle !important;
    white-space: nowrap !important;
}
table.dataTable tbody tr {
    height: 51px;
}
table tbody tr td {
    text-align: right;
    vertical-align: middle !important;
    white-space: nowrap !important;
}
/* ui styles */
.btn,
.label,
.panel,
.alert,
.form-control,
.dropdown-menu,
.navbar,
.navbar-toggle,
.modal-content,
.panel-heading,
.bs-callout,
.bs-callout code,
.list-group-item,
.nav-tabs li a,
.pagination li a {
    border-radius: 0 !important;
}
#loading {
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
    padding: 20px;
    color: #fff;
    background-color: #424858;
}
#loading .icon {
    position: absolute;
    top: 20px;
    width: 80px;
    height: 42px;
    text-align: center;
}
#loading .text {
    position: absolute;
    bottom: 20px;
    width: 80px;
    height: 20px;
    text-align: center;
}
#wrapper {
    background-color: #424858;
}
#page-wrapper {
    padding: 15px;
    background-color: #e7e7e7;
}
.page-inner {
    background-color: #fff !important;
}
.nav-tabs > li.disabled > a {
    pointer-events: none;
    color: #555;
    cursor: default;
}
.tab-content > .tab-pane {
    padding-top: 20px;
}
.navbar-menu {
    border: none;
}
.navbar-menu > ul > li > a {
    color: #fff !important;
}
#console-menu > li:first-child {
    display: none;
}
.list-group-item.selected,
.list-group-item.selected:hover,
.list-group-item.selected:focus {
    background-color: #eee;
}
.form-control-hidden {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: none;
}
.dl-order {
    margin: 0;
}
.dl-order dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-order dd {
    margin-left: 180px;
}
.dl-order dt,
.dl-order dd {
    margin-bottom: 10px;
}
.dl-order dt:last-of-type,
.dl-order dd:last-of-type {
    margin-bottom: 0;
}
.dl-order dt:nth-of-type(4),
.dl-order dd:nth-of-type(4) {
    margin-bottom: 20px;
}
.dl-search dt {
    margin-bottom: 5px;
}
.dl-search dd {
    margin-bottom: 15px;
}
.dl-search dd:last-of-type {
    margin-bottom: 0;
}
.dropdown-addon {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.dropdown-addon:last-child > .btn,
.dropdown-addon:last-child > .btn-group {
    margin-left: -1px;
}
.dropdown-wide .dropdown-menu {
    width: 100%;
    max-height: 142px;
    overflow-y: auto;
}
.dropdown-wide .dropdown-menu > li > a:hover,
.dropdown-wide .dropdown-menu > li > a:focus,
.dropdown-wide .dropdown-menu > .active > a,
.dropdown-wide .dropdown-menu > .active > a:hover,
.dropdown-wide .dropdown-menu > .active > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #e8e8e8;
    outline: 0;
}
/* dashboard styles */
.panel-back {
    background-color: #e7e7e7;
}
.noti-box {
    min-height: 100px;
    padding: 20px;
}
.noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
}
.text-box p {
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight: 600;
}
.set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
.bg-color-green {
    background-color: #00ce6f;
    color: #fff;
}
.bg-color-blue {
    background-color: #a95df0;
    color: #fff;
}
.bg-color-red {
    background-color: #db0630;
    color: #fff;
}
.bg-color-brown {
    background-color: #b94a00;
    color: #fff;
}
.icon-box-right {
    display: block;
    float: right;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
}
.main-temp-back {
    background-color: #8702a8;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.main-temp-back .text-temp {
    font-size: 40px;
}
.back-dash {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #2ea7eb;
    color: #fff;
}
.back-dash p {
    padding-top: 16px;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}
.back-footer-green {
    background-color: #009b50;
    border-top: 0 solid #fff;
}
.back-footer-red {
    background-color: #af0000;
    border-top: 0 solid #fff;
}
.color-bottom-txt {
    color: #000;
    font-size: 16px;
    line-height: 30px;
}
/* chat panel */
.scroll-panel .panel-body {
    height: 450px;
    overflow-y: scroll;
}
.chat-box li {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #808080;
}
.chat-box li .chat-body p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.chat-popover-right {
    position: relative;
    display: block;
    float: left;
}
.chat-popover-left {
    position: relative;
    display: block;
    float: right;
}
.write-message {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    resize: none;
}
/* menu styles */
.primary-image {
    margin: 25px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 170px;
    max-width: 170px;
}
.primary-user {
    margin: 0 0 25px;
}
.nav > li > a > i {
    margin-right: 10px;
}
.navbar-cls-top {
    margin: 0;
    background-color: #4d5467;
    border: none;
}
.navbar-cls-top .navbar-brand {
    color: #fff;
    background-color: #555b69;
    width: 230px;
    text-align: center;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle {
    border-color: #fff;
}
.navbar-cls-top .navbar-brand:hover {
    color: #fff;
    background-color: #555b69;
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background-color: #6198b3;
}
.navbar-side {
    border: none;
    background-color: #424858;
}
.sidebar-collapse,
.sidebar-collapse .nav {
    background-color: none;
}
.sidebar-collapse .nav {
    padding: 0;
}
.sidebar-collapse .nav > li > a {
    color: #fff;
    text-shadow: none;
}
.sidebar-collapse > .nav > li > a {
    padding: 20px;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
    background-color: #555b69;
    outline: 0;
}
.active-menu {
    color: #fff !important;
    background-color: #6198b3 !important;
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}
.nav-second-level li a {
    padding-left: 37px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-third-level li a {
    padding-left: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* ui elements styles */
.square-btn-adjust {
    border: 0 solid transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857143;
}
/* media queries (min-width) */
@media(min-width: 768px) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: -15px;
    }
}
@media(min-width: 992px) {
    #page-wrapper {
        margin: 0 0 0 230px;
    }
    #content-section {
        padding: 0 0 0 230px;
    }
    .navbar-side {
        position: absolute;
        z-index: 1;
        width: 230px;
    }
    .sidebar-collapse {
        display: block !important;
        visibility: visible !important;
    }
    #console-menu > li:first-child {
        display: block;
    }
}
@media(min-width: 1200px) {}
/* media queries (max-width) */
@media(max-width: 767.98px) {
    .table-responsive {
        border: none !important;
    }
}
@media(max-width: 991.98px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    #side-section {
        display: none;
    }
}
@media(max-width: 1199.98px) {}
/* media quries (between) */
@media(min-width: 768px) and (max-width: 1199.98px) {
    .dl-search dt {
        float: left;
        width: 160px;
        height: 34px;
        line-height: 34px;
        vertical-align: middle;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-search dd {
        margin-left: 180px;
    }
    .dl-search dt,
    .dl-search dd {
        margin-bottom: 10px;
    }
    .dl-search dt:last-of-type,
    .dl-search dd:last-of-type {
        margin-bottom: 0;
    }
}