/* store layout */
rect.store-layout-grid {
    fill: none;
    stroke: #000;
    stroke-width: 2;
}
rect.store-layout-button {
    stroke: none;
}
rect.mini-map-store-layout-grid {
    fill: none;
    stroke: #ddd;
    stroke-width: 2;
}
rect.mini-map-store-layout-button {
    stroke: none;
}
/* aquarium */
polygon.aquarium-grid {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: bevel;
}
rect.aquarium-front-grid {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: bevel;
}
polygon.aquarium-plane {
    fill: #e7e7e7;
    stroke: none;
}
rect.aquarium-front-button {
    fill: #fff;
    stroke: none;
    cursor: pointer;
}
rect.aquarium-front-button:hover {
    fill: #d0e0e8;
}
/* effect */
polygon.effect-aquarium-grid {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: bevel;
}
rect.effect-aquarium-front-grid {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-linejoin: bevel;
}
polygon.effect-aquarium-plane {
    fill: #e7e7e7;
    stroke: none;
}
rect.effect-aquarium-front-button {
    fill: #fff;
    stroke: none;
}