{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="roh-j">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.serializeObject/2.0.3/jquery.serializeObject.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static 'assets/js/lib/smil.check.js' %}"></script>
    <script src="{% static 'assets/js/lib/smil.user.js' %}"></script>
    <script src="{% static 'assets/js/common.js' %}"></script>

    <title>Aquarium Assets</title>
    <script>
        $(function () {
            USERNAME = '{{ user.username }}';

            init_toast();

            $('#console-menu').metisMenu();
            $('.nav-second-level').removeClass('d-none');

            load_complete();
            toastr.success(USERNAME + '님 환영합니다.');
        });
    </script>
</head>

<body>
    <div id="side-section"></div>
    <div id="content-section">
        <div id="loading">
            <div class="icon"><i class="fas fa-circle-notch fa-fw fa-3x fa-spin"></i></div>
            <div class="text">Loading</div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-cls-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Aquarium Assets</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="navbar-side">
            <div class="collapse sidebar-collapse">
                <ul id="console-menu" class="nav">
                    <li class="text-center">
                        <img src="{% static 'assets/img/icon/Places-user-identity-icon-128x128.png' %}" class="primary-image img-responsive">
                    </li>
                    <li><a href="" class="active-menu"><i class="fas fa-tachometer-alt fa-fw"></i>대시보드</a></li>
                    <li><a href="../report/"><i class="fas fa-chart-bar fa-fw"></i>보고서</a></li>
                    <li><a href="../store/"><i class="fas fa-door-open fa-fw"></i>매장관리</a></li>
                    <li><a href="../product/"><i class="fas fa-coins fa-fw"></i>단가관리</a></li>
                    <li>
                        <a href="#"><i class="fas fa-shopping-basket fa-fw"></i>주문관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../order/register/">주문서 작성</a></li>
                            <li><a href="../order/status/">주문처리 현황</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-archive fa-fw"></i>재고관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../inventory/manual/">직접 재고관리</a></li>
                            <li><a href="../inventory/clever/">클레버 재고관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user-friends fa-fw"></i>고객관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../customer/status/">고객 현황</a></li>
                            <li><a href="../customer/service/">고객 문의</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-folder-open fa-fw"></i>기타 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../page/">페이지 관리</a></li>
                            <li><a href="/market/">장터로 이동</a></li>
                            <li><a href="/console/">대시보드 전환</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout/"><i class="fas fa-sign-out-alt fa-fw"></i>로그아웃</a></li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="d-none">
            <div id="page-inner" class="container-fluid">
                <h3 class="head">대시보드</h3>
                <hr>
            </div>
            <footer><i>Copyright &copy; roh-j, Licensed under the Apache License</i></footer>
        </div>
    </div>
</body>

</html>