{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="roh-j">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="{% static 'assets/css/lib/bootoast.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.serializeObject/2.0.3/jquery.serializeObject.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="{% static 'assets/js/lib/bootoast.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/smil.check.js' %}"></script>
    <script src="{% static 'assets/js/lib/smil.user.js' %}"></script>
    <script src="{% static 'assets/js/common.js' %}"></script>
    <script src="{% static 'assets/js/price.js' %}"></script>

    <title>Aquarium Assets</title>
</head>

<body>
    <div id="unit-price-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 id="unit-price-modal-title" class="modal-title"></h5>
                </div>
                <form id="form-unit-price" method="POST">
                    {% csrf_token %}
                    <div id="unit-price-modal-body" class="modal-body">
                        <div class="form-group">
                            <label for="id_species" class="control-label">어종</label>
                            <div class="input-group dropdown-wide">
                                <input type="text" class="form-control" id="id_species" name="species">
                                <div class="dropdown-addon">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-caret-down fa-fw"></i>
                                    </button>
                                    <ul id="species-dropdown-menu" class="dropdown-menu"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_breed" class="control-label">품종</label>
                            <div class="input-group dropdown-wide">
                                <input type="text" class="form-control" id="id_breed" name="breed">
                                <div class="dropdown-addon">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <i class="fas fa-caret-down fa-fw"></i>
                                    </button>
                                    <ul id="breed-dropdown-menu" class="dropdown-menu"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_unit" class="control-label d-block">단위</label>
                            <div id="id_unit" class="btn-group d-flex" data-toggle="buttons">
                                <label class="btn btn-default w-100">
                                    <input type="radio" name="unit" value="couple"> <i class="fas fa-seedling fa-fw text-success"></i> 한쌍
                                </label>
                                <label class="btn btn-default w-100">
                                    <input type="radio" name="unit" value="female"> <i class="fas fa-venus fa-fw text-danger"></i> 암컷
                                </label>
                                <label class="btn btn-default w-100">
                                    <input type="radio" name="unit" value="male"> <i class="fas fa-mars fa-fw text-primary"></i> 수컷
                                </label>
                                <label class="btn btn-default w-100 active">
                                    <input type="radio" name="unit" value="none" checked> <i class="fas fa-genderless fa-fw text-secondary"></i> 없음
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="id_size" class="control-label">크기 (cm)</label>
                                <div class="input-group">
                                    <span class="input-group-btn input-spinner">
                                        <button type="button" class="btn btn-default" data-spinner-value="-0.1" data-spinner-target="#id_size">
                                            <i class="fas fa-angle-left fa-fw"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control text-center" id="id_size" name="size" data-input-type="float" value="0.0">
                                    <span class="input-group-btn input-spinner">
                                        <button type="button" class="btn btn-default" data-spinner-value="+0.1" data-spinner-target="#id_size">
                                            <i class="fas fa-angle-right fa-fw"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="btn-group input-spinner d-flex mt-3">
                                    <button type="button" class="btn btn-default w-100" data-spinner-value="+10.0" data-spinner-target="#id_size">10 cm</button>
                                    <button type="button" class="btn btn-default w-100" data-spinner-value="+1.0" data-spinner-target="#id_size">1 cm</button>
                                    <button type="button" class="btn btn-default w-100" data-spinner-value="+0.1" data-spinner-target="#id_size">0.1 cm</button>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="id_price" class="control-label">가격</label>
                                <div class="input-group">
                                    <span class="input-group-btn input-spinner">
                                        <button type="button" class="btn btn-default" data-spinner-value="-100" data-spinner-target="#id_price">
                                            <i class="fas fa-angle-left fa-fw"></i>
                                        </button>
                                    </span>
                                    <input type="text" class="form-control text-center" id="id_price" name="price" data-input-type="int" value="0">
                                    <span class="input-group-btn input-spinner">
                                        <button type="button" class="btn btn-default" data-spinner-value="+100" data-spinner-target="#id_price">
                                            <i class="fas fa-angle-right fa-fw"></i>
                                        </button>
                                    </span>
                                </div>
                                <div class="btn-group input-spinner d-flex mt-3">
                                    <button type="button" class="btn btn-default w-100" data-spinner-value="+10000" data-spinner-target="#id_price">만</button>
                                    <button type="button" class="btn btn-default w-100" data-spinner-value="+1000" data-spinner-target="#id_price">천</button>
                                    <button type="button" class="btn btn-default w-100" data-spinner-value="+100" data-spinner-target="#id_price">백</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="unit-price-modal-footer" class="modal-footer">
                        <div class="btn-group">
                            <button type="reset" class="btn btn-default">다시 입력</button>
                            <button type="submit" class="btn btn-primary">확인</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="side-section"></div>
    <div id="content-section">
        <div id="loading">
            <div class="icon"><i class="fas fa-circle-notch fa-fw fa-3x fa-spin"></i></div>
            <div class="text">Loading</div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-cls-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Aquarium Assets</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="navbar-side">
            <div class="collapse sidebar-collapse">
                <ul id="console-menu" class="nav">
                    <li class="text-center">
                        <img src="{% static 'assets/img/icon/Places-user-identity-icon-128x128.png' %}" class="primary-image img-responsive">
                    </li>
                    <li><a href="../dashboard/"><i class="fas fa-tachometer-alt fa-fw"></i>대시보드</a></li>
                    <li><a href="../report/"><i class="fas fa-chart-bar fa-fw"></i>보고서</a></li>
                    <li><a href="../store/"><i class="fas fa-edit fa-fw"></i>매장관리</a></li>
                    <li><a href="" class="active-menu"><i class="fas fa-coins fa-fw"></i>단가관리</a></li>
                    <li>
                        <a href="#"><i class="fas fa-shopping-basket fa-fw"></i>주문관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../order/register/"><i class="fas fa-feather-alt fa-fw"></i>주문서 작성</a></li>
                            <li><a href="../order/list/"><i class="far fa-clone fa-fw"></i>주문 목록</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-archive fa-fw"></i>재고관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../inventory/selection/"><i class="fas fa-flag fa-fw"></i>선택으로 재고관리</a></li>
                            <li><a href="../inventory/order-sheet/"><i class="far fa-sticky-note fa-fw"></i>주문서로 재고관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user-friends fa-fw"></i>고객관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../customer/list/"><i class="fas fa-list-ul fa-fw"></i>고객 목록</a></li>
                            <li><a href="../customer/service/"><i class="fas fa-headphones-alt fa-fw"></i>고객 문의</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-folder-open fa-fw"></i>기타 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href=""><i class="fas fa-desktop fa-fw"></i>페이지 관리</a></li>
                            <li><a href=""><i class="fas fa-external-link-alt fa-fw"></i>장터 이동</a></li>
                            <li><a href="/business/"><i class="fas fa-exchange-alt fa-fw"></i>대시보드 전환</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout/"><i class="fas fa-sign-out-alt fa-fw"></i>로그아웃</a></li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="d-none">
            <div class="page-inner container-fluid">
                <h3 class="head">단가 관리</h3>
                <hr>
                <ul class="nav nav-tabs">
                    <li class="disabled active"><a href="#unit-price">단가표</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="unit-price">
                        <div id="unit-price-menu">
                            <button type="button" id="unit-price-register" class="btn btn-default">단가 추가</button>
                        </div>
                        <hr>
                        <div class="panel panel-default">
                            <div id="unit-price-tool" class="panel-heading clearfix"></div>
                            <div class="table-responsive">
                                <table id="unit_price_table" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>어종</th>
                                            <th>품종</th>
                                            <th>크기 (cm)</th>
                                            <th>단위</th>
                                            <th>가격</th>
                                            <th>동작</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <div id="unit-price-info" class="panel-footer"></div>
                        </div>
                        <div id="unit-price-pagination" class="text-center"></div>
                    </div>
                </div>
            </div>
            <footer><i>Copyright &copy; roh-j, Licensed under the Apache License</i></footer>
        </div>
    </div>
</body>

</html>