{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="Author" content="roh-j">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.0.96/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.0/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.4/metisMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.serializeObject/2.0.3/jquery.serializeObject.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="{% static 'assets/js/lib/smil.check.js' %}"></script>
    <script src="{% static 'assets/js/lib/smil.user.js' %}"></script>
    <script src="{% static 'assets/js/common.js' %}"></script>
    <script src="{% static 'assets/js/order-register.js' %}"></script>

    <title>Aquarium Assets</title>
</head>

<body>
    <div id="alert-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">알림</h5>
                </div>
                <div class="modal-body text-center"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div id="recipient-register-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">받는 분</h5>
                </div>
                <form id="form-recipient-register" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="id_customer_name" class="control-label">고객명</label>
                            <input type="text" class="form-control" id="id_customer_name" name="customer_name">
                        </div>
                        <div class="form-group">
                            <label for="id_contact" class="control-label">연락처</label>
                            <input type="text" class="form-control" id="id_contact" name="contact">
                        </div>
                        <div class="form-group">
                            <label for="id_address" class="control-label">주소</label>
                            <input type="text" class="form-control" id="id_address" name="address">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="customer-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"><i class="fas fa-exclamation-circle fa-fw text-primary"></i> 고객 정보</h5>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div id="customer-tool" class="panel-heading d-flex"></div>
                        <div class="table-responsive">
                            <table id="customer_table" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="selection"></th>
                                        <th>번호</th>
                                        <th>이름</th>
                                        <th>연락처</th>
                                        <th>주소</th>
                                        <th>동작</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row" class="min">
                                            <div class="pretty p-default p-round">
                                                <input type="radio">
                                                <div class="state p-warning">
                                                    <label></label>
                                                </div>
                                            </div>
                                        </th>
                                        <th>1</th>
                                        <td>철수</td>
                                        <td>010-1234-5678</td>
                                        <td>서울특별시</td>
                                        <td class="min col-btn">
                                            <button type="button" class="btn btn-default">담기</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">선택 항목 담기</button>
                            </div>
                        </div>
                    </div>
                    <div id="customer-pagination" class="text-center"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div id="side-section"></div>
    <div id="content-section">
        <div id="loading">
            <div class="icon"><i class="fas fa-circle-notch fa-fw fa-3x fa-spin"></i></div>
            <div class="text">Loading</div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-cls-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Aquarium Assets</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="navbar-side">
            <div class="collapse sidebar-collapse">
                <ul id="console-menu" class="nav">
                    <li class="text-center">
                        <img src="{% static 'assets/img/icon/Places-user-identity-icon-128x128.png' %}" class="primary-image img-responsive">
                    </li>
                    <li><a href="../../dashboard"><i class="fas fa-tachometer-alt fa-fw"></i>대시보드</a></li>
                    <li><a href="../../report/"><i class="fas fa-chart-bar fa-fw"></i>보고서</a></li>
                    <li><a href="../../store/"><i class="fas fa-door-open fa-fw"></i>매장관리</a></li>
                    <li><a href="../../product/"><i class="fas fa-coins fa-fw"></i>단가관리</a></li>
                    <li class="mm-active">
                        <a href="#" aria-expanded="true"><i class="fas fa-shopping-basket fa-fw"></i>주문관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="" class="active-menu">주문서 작성</a></li>
                            <li><a href="../status/">주문처리 현황</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-archive fa-fw"></i>재고관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../../inventory/manual/">직접 재고관리</a></li>
                            <li><a href="../../inventory/order-sheet/">클레버 재고관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-user-friends fa-fw"></i>고객관리 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../../customer/list/">고객 목록</a></li>
                            <li><a href="../../customer/service/">고객 문의</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-folder-open fa-fw"></i>기타 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level d-none">
                            <li><a href="../../page/">페이지 관리</a></li>
                            <li><a href="/market/">장터로 이동</a></li>
                            <li><a href="/console/">대시보드 전환</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout/"><i class="fas fa-sign-out-alt fa-fw"></i>로그아웃</a></li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="d-none">
            <div id="page-inner" class="container-fluid">
                <h3 class="head">주문 관리</h3>
                <hr>
                <ul class="nav nav-tabs">
                    <li class="disabled active"><a href="#order-sheet">주문서 작성</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="order-sheet">
                        <div id="order-menu">
                            <button type="button" class="wide-screen btn btn-default">넓게</button>
                        </div>
                        <hr><h4 class="lead-step">Step 1. <small>상품 선택</small></h4><hr>
                        <div class="panel panel-default">
                            <div id="product-tool" class="panel-heading d-flex"></div>
                            <div class="table-responsive">
                                <table id="product_table" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="selection">
                                                <div class="pretty p-icon">
                                                    <input type="checkbox" class="check-all">
                                                    <div class="state p-warning">
                                                        <i class="icon mdi mdi-check-bold"></i>
                                                        <label></label>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>번호</th>
                                            <th>어종</th>
                                            <th>품종</th>
                                            <th>특이사항</th>
                                            <th>단계</th>
                                            <th>단위</th>
                                            <th>단가</th>
                                            <th>재고</th>
                                            <th>동작</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="panel-footer text-right">
                                <div class="btn-group">
                                    <button type="button" id="selected-items-to-cart" class="btn btn-default">선택 항목 담기</button>
                                </div>
                            </div>
                        </div>
                        <div id="product-pagination" class="text-center"></div>
                        <hr><h4 class="lead-step">Step 2. <small>항목 관리</small></h4><hr>
                        <div class="panel panel-default">
                            <div id="order-item-tool" class="panel-heading d-flex"></div>
                            <div class="table-responsive">
                                <table id="order_item_table" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>어종</th>
                                            <th>품종</th>
                                            <th>특이사항</th>
                                            <th>단계</th>
                                            <th>단위</th>
                                            <th>수량</th>
                                            <th>가격</th>
                                            <th>동작</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" id="empty-cart" class="btn btn-default">비우기</button>
                            </div>
                        </div>
                        <div id="order-item-pagination" class="text-center"></div>
                        <hr><h4 class="lead-step">Step 3. <small>주문서 확인</small></h4><hr>
                        <div class="dl-order bs-callout bs-callout-warning">
                            <dl>
                                <dt>받는 분</dt>
                                <dd id="view-customer-name">(없음)</dd>
                                <dt>연락처</dt>
                                <dd id="view-contact">(없음)</dd>
                                <dt>주소</dt>
                                <dd id="view-address">(없음)</dd>
                                <dt>배송</dt>
                                <dd id="view-order-type">매장</dd>
                                <dt>합계</dt>
                                <dd id="view-payment" class="text-danger">0 원</dd>
                            </dl>
                        </div>
                        <hr>
                        <div class="text-right">
                            <div class="pretty p-default p-round">
                                <input type="radio" name="order_type" value="pickup" checked>
                                <div class="state p-warning">
                                    <label>매장</label>
                                </div>
                            </div>
                            <div class="pretty p-default p-round mr-0">
                                <input type="radio" name="order_type" value="delivery">
                                <div class="state p-warning">
                                    <label>택배</label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-right">
                            <div class="btn-group mr-3">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#customer-modal">기존 고객</button>
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#recipient-register-modal">신규 고객</button>
                            </div>
                            <button type="button" id="order-register" class="btn btn-default">등록</button>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <footer><i>Copyright &copy; roh-j, Licensed under the Apache License</i></footer>
        </div>
    </div>
</body>

</html>